.Cabecalho {
    box-sizing: border-box;
    width: 100%;
    background-color: #000000;
    height: 86px;
    padding: 20px;
    display: flex;
    align-items: flex-end;
}

.Cabecalho .Logotipo {

    flex-grow: 0;
}

.Cabecalho .Logotipo img {
    width: auto;
    height: 46px;
}