.CampoBusca {
    background-color: #fff;
    height: auto;
    margin: 0px 8px;
    display: flex;
    align-items: center;
}

.CampoBusca input {
 
    border: none;
    background-image: url(./icone-search.png);
    background-repeat: no-repeat;
    height: 12px;
    padding: 12px;
    width: 300px;
    background-position: calc(100% - 12px) center;
    border: 1px solid #000000;
}