@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.Menu {
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.MenuItem {
    font-family: 'Righteous', sans-serif;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #fffefe;
    padding: 0px 8px;
}

.MenuItem:hover {
    border-bottom: 3px solid #00bac6;
    color: #00bac6;
}